.entrada{
    max-width: 40rem;
    margin: 0 auto;
}

.contenido{
    padding: 2rem;
}

.contenido h2{
    font-weight: 400;
    font-size: 2.5rem;
    margin: 0;
    line-height: 1.2;
    text-transform: capitalize;
}

.fecha{
    font-size:1.6rem ;
    color: var(--primary);
}

.resumen{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.enlace{
    margin-top:2rem ;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--negro);
    border: 2px solid var(--primary);
    padding: 2rem 4rem;
    transition-property: background-color;
    transition-duration: .3s ease;
}

.enlace:hover{
    background-color: var(--primary);
    color: var(--blanco);
}

.texto{
    white-space: pre-wrap;
}